div{
    width: 374px;
    height: 202px;
    box-sizing: border-box;
    background-color:teal;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 10px solid rgb(95, 90, 90);
    border-right: 10px solid rgb(95, 90, 90);
    font-size: 90px;
    color: #fff;;
    padding: 40px;
}